* {
    box-sizing: border-box;
  }
  
  body {

    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans', cursive;
    min-height: 100vh;

  }
  


  
  .container {
    background-color: lightblue;
    padding: 20px;
    width: 450px;
    
    margin: 0 auto;
    font-size: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    max-width: 90%;
  }
  #information{
      display: flex;
      font-size: 30px;
      justify-content: center;
      align-items: center;
  }
  .timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;
  }
  
  .quote-display {

    font-size: 30px;
    width: 400px;
    
  }
  
  .quote-input {
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    display: flex;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;

  }
  #wpm {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .quote-input:focus {
    border-color: black;
  }
  #gamemodes{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
  }
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }
  
body 
{
    margin: 0;
    padding: 0;
    font-family: 'Odibee Sans', cursive;
    min-height: 100vh;
}


html{
    height: 100%;
}


#header 
{
    width: 100%;
    background-color: brown;
    color: white;
    display:flex;
    justify-content: center;
    }  





.section1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}





.cards{
    background-color: brown;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    font-size:20px;
    margin-top: 50px;
    color: white;
    padding: 20px;
    width: 1000px;
    flex-direction: row;
   
}
.cards h1 {
    text-align: center;
}
#card1{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    
}
#card2{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    
}
#card3{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    
}

button{
    width: 400px;
    height: 50px;
    color: white;
    background-color: brown;
    overflow:hidden;
    position: relative;
    border: none;
}



#card2{
    margin-left: 10px;
    margin-right: 10px;
}
#card3{
    margin-left: 10px;
    margin-right: 10px;
}

button .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}


.cards h1 {
    color: white;
    border-radius: 20px 20px 20px 20px;
} 




.section2
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

.section2 h2{
    font-size: 40px;
}

.footer{
    position: sticky;
    top:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;


    
}

.section3
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}



.footer img{
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width: 30px;
    

}

@media only screen and (max-width: 1000px) {
    .cards{flex-direction: column;}
  }


  